<!DOCTYPE html>
<html lang="us">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Sumnima</title>
<link rel="StyleSheet" href="SumnimaRanawebsite.css"  />
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<link href="jquery-ui.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<style> 
    #panel, #flip {
        padding: 5px;
        text-align: center;
        background-color: #e5eecc;
        border: solid 1px #c3c3c3;
    }
    
    #panel {
        padding: 50px;
        display: none;
    }
    
        body{
          font-family: "Trebuchet MS", sans-serif;
          margin: 50px;
        }
        </style>
    
</head>

    
  


<body style="background-image:url('img.jpg')">

    <script> 
        $(document).ready(function(){
            $("#flip").click(function(){
                $("#panel").slideToggle("slow");
            });
        });
        </script>
  
    <nav class="navbar navbar navbar-fixed-top navbar-light bg-faded navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="#">Portfolio</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="SumnimaWebsite.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="index">Guestbook</a></li>
            <li><a href="calculation.html">Calculation</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container-fluid">
      <div class="row">
              <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                           <div class="contactData">
                                        <form method="post">
                                                        <h3> Enter your first name:</h3>
                                                        <input type="text" name="a1" id="a1">
                                                        <h3> Enter your second name:</h3>
                                                        <input type="text" name="a2" id="a2">
                                                        <h3> Enter email address:</h3>
                                                        <input type="text" name="a3" id="a3">
                                                        <h3> Your questions?</h3>
                                                        <textarea name="message" rows="4" cols="40"></textarea>
                                                        <Button type="submit"> Post </Button>
                                        </form>
                                   </div>
              </div>
                    
      </div>
</div>



          <div id="footer1" > 

                <div class="Foreground">
                    <h3>@Copyright Sumnima Rana Northwest Missouri State University</h3>
                </div>   
                </div>
               
</body>

 </html>
