<!DOCTYPE html>
<html lang="us">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Sumnima</title>
<link rel="StyleSheet" href="SumnimaRanawebsite.css"  />
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<link href="jquery-ui.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script> 
$(document).ready(function(){
    $("#flip").click(function(){
        $("#panel").slideToggle("slow");
    });
});
</script>

<style> 
    #panel, #flip {
        padding: 5px;
        text-align: center;
        background-color: #e5eecc;
        border: solid 1px #c3c3c3;
    }
    
    #panel {
        padding: 50px;
        display: none;
    }
    </style>
  
    <style>
        body{
          font-family: "Trebuchet MS", sans-serif;
          margin: 50px;
        }
        </style>

    
</head>



<body style="background-image:url('img.jpg')">

  <nav class="navbar navbar navbar-fixed-top navbar-light bg-faded navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="#">Portfolio</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="SumnimaWebsite.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="index">Guestbook</a></li>
            <li><a href="calculation.html">Calculation</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="header1">
      <div class="container text-center ">
        <p class ="top"> </p>
        <img src="https://pbs.twimg.com/media/CTogkBwUkAA2bZI.jpg:large" alt:"Avatar"  class="avatar">
        <h1 class= "header12">Namaste, I'm Sumnima Rana</h1>  
        <p class="header13">Breathe, Believe, Receive</p>
      </div>
    </div>
  
  

    <div class="card1">
        <h1>My Morning starts with Yoga</h1>
        <h3 >"If you change the way you look at things, the things you look at change."</h3>
        <p>Yoga With Sumnima</p>
        <div class="video-container">
        <iframe width="854" height="480" src="https://www.youtube.com/embed/P8-RyBHyLQw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
        <p class= "video-font">
            Video courtesy of 
            <a href="https://www.youtube.com/channel/UCCSLVDvSYoQ13KNlcbnmlpg/videos" target="_blank">Fitness with Sumnima</a>.
            </p>
      </div>

<script type="text/javascript" language="JavaScript">
  function set_body_height() { // set body height = window height
    $('body').height($(window).height());
  }
  $(document).ready(function() {
    $(window).bind('resize', set_body_height);
    set_body_height();
  });
</script> -->

<!-- Button -->
<!--<h2 class="demoHeaders">Button</h2>
<button id="button">A button element</button>
<button id="button-icon">An icon-only button</button>-->

<div class="row">
    <div class="rightcolumn">
      <div class="card3">
        <h1>Where am I from?</h1>
        <h3>Home is wherever my bunch of crazies are..</h3>



        <div class="container">
            <div class="mySlides">
              <div class="numbertext">1 / 6</div>
              <img src="https://brightcove04pmdo-a.akamaihd.net/5104226627001/5104226627001_5339731547001_5334486754001-vs.jpg?pubId=5104226627001&videoId=5334486754001" style="width:100%">
            </div>
          
            <div class="mySlides">
              <div class="numbertext">2 / 6</div>
              <img src="http://marwarishaadinepal.com/sites/default/files/Pashupatinath_Temple_3.jpg" style="width:100%">
            </div>
          
            <div class="mySlides">
              <div class="numbertext">3 / 6</div>
              <img src="https://wallpaperscraft.com/image/stones_mountains_balance_height_himalayas_nepal_32097_1280x720.jpg" style="width:100%">
            </div>
              
            <div class="mySlides">
              <div class="numbertext">4 / 6</div>
              <img src="https://www.desktopbackground.org/download/1280x720/2011/02/22/161509_nepal-wallpapers_1680x1050_h.jpg" style="width:100%">
            </div>
          
            <div class="mySlides">
              <div class="numbertext">5 / 6</div>
              <img src="https://d1ljaggyrdca1l.cloudfront.net/wp-content/uploads/2017/05/Kathmandu-Durbar-Square-Patan.jpg" style="width:100%">
            </div>
              
            <div class="mySlides">
              <div class="numbertext">6 / 6</div>
              <img src="http://i2.wp.com/www.nepalnow.org/wp-content/uploads/2015/08/patan.jpg" style="width:100%">
            </div>
              
            <a class="prev" onclick="plusSlides(-2)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>
          
            <div class="caption-container">
              <p id="caption"></p>
            </div>
          
            <div class="row">
              <div class="column">
                <img class="demo cursor" src="https://brightcove04pmdo-a.akamaihd.net/5104226627001/5104226627001_5339731547001_5334486754001-vs.jpg?pubId=5104226627001&videoId=5334486754001" style="width:100%" onclick="currentSlide(1)" alt="Mustang">
              </div>
              <div class="column">
                <img class="demo cursor" src="http://marwarishaadinepal.com/sites/default/files/Pashupatinath_Temple_3.jpg" style="width:100%" onclick="currentSlide(2)" alt="Pashupatinath, Nepal">
              </div>
              <div class="column">
                <img class="demo cursor" src="https://wallpaperscraft.com/image/stones_mountains_balance_height_himalayas_nepal_32097_1280x720.jpg" style="width:100%" onclick="currentSlide(3)" alt="Mustang Himalayan Range">
              </div>
              <div class="column">
                <img class="demo cursor" src="https://www.desktopbackground.org/download/1280x720/2011/02/22/161509_nepal-wallpapers_1680x1050_h.jpg" style="width:100%" onclick="currentSlide(4)" alt="Pokhara, Nepal">
              </div>
              <div class="column">
                <img class="demo cursor" src="https://d1ljaggyrdca1l.cloudfront.net/wp-content/uploads/2017/05/Kathmandu-Durbar-Square-Patan.jpg" style="width:100%" onclick="currentSlide(5)" alt="Patan Durbar Square">
              </div>    
              <div class="column">
                <img class="demo cursor" src="http://i2.wp.com/www.nepalnow.org/wp-content/uploads/2015/08/patan.jpg" style="width:100%" onclick="currentSlide(6)" alt="Basantapur Durbar Square">
              </div>
            </div>
          </div>
          
          <script>
          var slideIndex = 1;
          showSlides(slideIndex);
          
          function plusSlides(n) {
            showSlides(slideIndex += n);
          }
          
          function currentSlide(n) {
            showSlides(slideIndex = n);
          }
          
          function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
            captionText.innerHTML = dots[slideIndex-1].alt;
          }
          </script>


        <p>Kathmandu, Nepal</p>
        <a href="https://en.wikipedia.org/wiki/Kathmandu" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-search"></span> Wiki Kathmandu
          </a>
      </div>

<div id="flip">Click to know about it more</div>
<div id="panel">Kathmandu काठमाडौं, is 
   the capital city of the  of Nepal, the larger of the 
   two Himalayan states. It is the largest metropolis in Nepal, with a population of 1.5 
   million in the city proper, and 3 million in its urban agglomeration across the Kathmandu 
   Valley, which includes the towns of Lalitpur, Kirtipur, Madhyapur Thimi, Bhaktapur and the 
   municipalities across Kathmandu valley. Kathmandu is also the largest metropolis in the 
   Himalayan hill region.</div>

<div class="card4">
    <h2>Follow Me</h2>
    <h4> What happens on social media stays on Google Forever..</h4>

    <!-- Add font awesome icons -->
<a href="https://www.facebook.com/sumnima.rana.73" class="fa fa-facebook"></a>
<a href="https://twitter.com/RanaSumnima" class="fa fa-twitter"></a>
<a href="https://plus.google.com/u/0/107101657426188299429" class="fa fa-google"></a>
<a href="https://www.linkedin.com/in/sumnima-rana-474884116/" class="fa fa-linkedin"></a>
<a href="https://www.youtube.com/channel/UCCSLVDvSYoQ13KNlcbnmlpg" class="fa fa-youtube"></a>
<a href="https://www.instagram.com/magarni.ichigo/" class="fa fa-instagram"></a>
<a href="https://www.pinterest.com/sumnimam/" class="fa fa-pinterest"></a>
<a href="#" class="fa fa-snapchat-ghost"></a>
  </div>
</div>
</di>



<div id="footer" > 

    <div class="Foreground">
        <h3>@Copyright Sumnima Rana Northwest Missouri State University</h3>
    </div>   
    </div>
     


</body>
</html>
<!DOCTYPE html>
<html lang="us">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Sumnima</title>
<link rel="StyleSheet" href="SumnimaRanawebsite.css"  />
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<link href="jquery-ui.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script> 
$(document).ready(function(){
    $("#flip").click(function(){
        $("#panel").slideToggle("slow");
    });
});
</script>

<style> 
    #panel, #flip {
        padding: 5px;
        text-align: center;
        background-color: #e5eecc;
        border: solid 1px #c3c3c3;
    }
    
    #panel {
        padding: 50px;
        display: none;
    }
    </style>
  
    <style>
        body{
          font-family: "Trebuchet MS", sans-serif;
          margin: 50px;
        }
        </style>

    
</head>



<body style="background-image:url('img.jpg')">

  <nav class="navbar navbar navbar-fixed-top navbar-light bg-faded navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="#">Portfolio</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="SumnimaWebsite.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="index.ejs">Guestbook</a></li>
            <li><a href="calculation.html">Calculation</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="header1">
      <div class="container text-center ">
        <p class ="top"> </p>
        <img src="https://pbs.twimg.com/media/CTogkBwUkAA2bZI.jpg:large" alt:"Avatar"  class="avatar">
        <h1 class= "header12">Namaste, I'm Sumnima Rana</h1>  
        <p class="header13">Breathe, Believe, Receive</p>
      </div>
    </div>
  
  

    <div class="card1">
        <h1>My Morning starts with Yoga</h1>
        <h3 >"If you change the way you look at things, the things you look at change."</h3>
        <p>Yoga With Sumnima</p>
        <div class="video-container">
        <iframe width="854" height="480" src="https://www.youtube.com/embed/P8-RyBHyLQw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
        <p class= "video-font">
            Video courtesy of 
            <a href="https://www.youtube.com/channel/UCCSLVDvSYoQ13KNlcbnmlpg/videos" target="_blank">Fitness with Sumnima</a>.
            </p>
      </div>

<script type="text/javascript" language="JavaScript">
  function set_body_height() { // set body height = window height
    $('body').height($(window).height());
  }
  $(document).ready(function() {
    $(window).bind('resize', set_body_height);
    set_body_height();
  });
</script> -->

<!-- Button -->
<!--<h2 class="demoHeaders">Button</h2>
<button id="button">A button element</button>
<button id="button-icon">An icon-only button</button>-->

<div class="row">
    <div class="rightcolumn">
      <div class="card3">
        <h1>Where am I from?</h1>
        <h3>Home is wherever my bunch of crazies are..</h3>



        <div class="container">
            <div class="mySlides">
              <div class="numbertext">1 / 6</div>
              <img src="https://brightcove04pmdo-a.akamaihd.net/5104226627001/5104226627001_5339731547001_5334486754001-vs.jpg?pubId=5104226627001&videoId=5334486754001" style="width:100%">
            </div>
          
            <div class="mySlides">
              <div class="numbertext">2 / 6</div>
              <img src="http://marwarishaadinepal.com/sites/default/files/Pashupatinath_Temple_3.jpg" style="width:100%">
            </div>
          
            <div class="mySlides">
              <div class="numbertext">3 / 6</div>
              <img src="https://wallpaperscraft.com/image/stones_mountains_balance_height_himalayas_nepal_32097_1280x720.jpg" style="width:100%">
            </div>
              
            <div class="mySlides">
              <div class="numbertext">4 / 6</div>
              <img src="https://www.desktopbackground.org/download/1280x720/2011/02/22/161509_nepal-wallpapers_1680x1050_h.jpg" style="width:100%">
            </div>
          
            <div class="mySlides">
              <div class="numbertext">5 / 6</div>
              <img src="https://d1ljaggyrdca1l.cloudfront.net/wp-content/uploads/2017/05/Kathmandu-Durbar-Square-Patan.jpg" style="width:100%">
            </div>
              
            <div class="mySlides">
              <div class="numbertext">6 / 6</div>
              <img src="http://i2.wp.com/www.nepalnow.org/wp-content/uploads/2015/08/patan.jpg" style="width:100%">
            </div>
              
            <a class="prev" onclick="plusSlides(-2)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>
          
            <div class="caption-container">
              <p id="caption"></p>
            </div>
          
            <div class="row">
              <div class="column">
                <img class="demo cursor" src="https://brightcove04pmdo-a.akamaihd.net/5104226627001/5104226627001_5339731547001_5334486754001-vs.jpg?pubId=5104226627001&videoId=5334486754001" style="width:100%" onclick="currentSlide(1)" alt="Mustang">
              </div>
              <div class="column">
                <img class="demo cursor" src="http://marwarishaadinepal.com/sites/default/files/Pashupatinath_Temple_3.jpg" style="width:100%" onclick="currentSlide(2)" alt="Pashupatinath, Nepal">
              </div>
              <div class="column">
                <img class="demo cursor" src="https://wallpaperscraft.com/image/stones_mountains_balance_height_himalayas_nepal_32097_1280x720.jpg" style="width:100%" onclick="currentSlide(3)" alt="Mustang Himalayan Range">
              </div>
              <div class="column">
                <img class="demo cursor" src="https://www.desktopbackground.org/download/1280x720/2011/02/22/161509_nepal-wallpapers_1680x1050_h.jpg" style="width:100%" onclick="currentSlide(4)" alt="Pokhara, Nepal">
              </div>
              <div class="column">
                <img class="demo cursor" src="https://d1ljaggyrdca1l.cloudfront.net/wp-content/uploads/2017/05/Kathmandu-Durbar-Square-Patan.jpg" style="width:100%" onclick="currentSlide(5)" alt="Patan Durbar Square">
              </div>    
              <div class="column">
                <img class="demo cursor" src="http://i2.wp.com/www.nepalnow.org/wp-content/uploads/2015/08/patan.jpg" style="width:100%" onclick="currentSlide(6)" alt="Basantapur Durbar Square">
              </div>
            </div>
          </div>
          
          <script>
          var slideIndex = 1;
          showSlides(slideIndex);
          
          function plusSlides(n) {
            showSlides(slideIndex += n);
          }
          
          function currentSlide(n) {
            showSlides(slideIndex = n);
          }
          
          function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
            captionText.innerHTML = dots[slideIndex-1].alt;
          }
          </script>


        <p>Kathmandu, Nepal</p>
        <a href="https://en.wikipedia.org/wiki/Kathmandu" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-search"></span> Wiki Kathmandu
          </a>
      </div>

<div id="flip">Click to know about it more</div>
<div id="panel">Kathmandu काठमाडौं, is 
   the capital city of the  of Nepal, the larger of the 
   two Himalayan states. It is the largest metropolis in Nepal, with a population of 1.5 
   million in the city proper, and 3 million in its urban agglomeration across the Kathmandu 
   Valley, which includes the towns of Lalitpur, Kirtipur, Madhyapur Thimi, Bhaktapur and the 
   municipalities across Kathmandu valley. Kathmandu is also the largest metropolis in the 
   Himalayan hill region.</div>

<div class="card4">
    <h2>Follow Me</h2>
    <h4> What happens on social media stays on Google Forever..</h4>

    <!-- Add font awesome icons -->
<a href="https://www.facebook.com/sumnima.rana.73" class="fa fa-facebook"></a>
<a href="https://twitter.com/RanaSumnima" class="fa fa-twitter"></a>
<a href="https://plus.google.com/u/0/107101657426188299429" class="fa fa-google"></a>
<a href="https://www.linkedin.com/in/sumnima-rana-474884116/" class="fa fa-linkedin"></a>
<a href="https://www.youtube.com/channel/UCCSLVDvSYoQ13KNlcbnmlpg" class="fa fa-youtube"></a>
<a href="https://www.instagram.com/magarni.ichigo/" class="fa fa-instagram"></a>
<a href="https://www.pinterest.com/sumnimam/" class="fa fa-pinterest"></a>
<a href="#" class="fa fa-snapchat-ghost"></a>
  </div>
</div>
</di>



<div id="footer" > 

    <div class="Foreground">
        <h3>@Copyright Sumnima Rana Northwest Missouri State University</h3>
    </div>   
    </div>
     


</body>
</html>
